 <!-- Top banner starts -->
 <div class="topBanner">
    <div class="container topBanner__wrapper">
        <div class="row jc__between">
            <div class="col-lg-6">
                <div class="topBanner__left">
                    <h1 class="topBanner__title mb__20">
                        Find free online courses
                    </h1>
                    <p class="topBanner__text mb__30">
                        Discover 1403+ free online courses from top universities all around the world.
                    </p>
                    <div class="topBanner__btn">
                        <a href="" class="btn__primary">Explore Courses</a>
                    </div>
                    <div class="topBanner__clients">
                        <p>Courses from world’s leading universities including</p>
                        <div class="topBanner__clinetsWrapper d__flex">
                            <div class="singleClient">
                                <img src="assets/img/client1.png" alt="Client Logo">
                            </div>
                            <div class="singleClient">
                                <img src="assets/img/client2.png" alt="Client Logo">
                            </div>
                            <div class="singleClient">
                                <img src="assets/img/client3.png" alt="Client Logo">
                            </div>
                            <div class="singleClient">
                                <img src="assets/img/client4.png" alt="Client Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="topBanner__right">
                    <img src="assets/img/banner.png" alt="App mokup" class="topBanner__appMokup">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top banner ends -->